.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 30px;
    background-color: rgb(244, 255, 205);
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container{
    margin-top: 90px;
    
    display: flex;
    align-items: center;
    justify-content:  center;
    text-align: center;
}
.input{
    background-color: white;
    border-radius: 5px;
    
}
